.sidebar {
  width: 300px;
  height: calc(100vh - 20px);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0px 10px 0px;
}

.s-logo {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
}

.s-l-img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  margin-top: 2px;
  background-image: url(/src/assets/img/logo-white.png);
  background-repeat: no-repeat;
  background-position: 4px 4px;
  background-size: 24px 24px;
  background-color: #50b83c;
  border-radius: 25%;
}

.s-l-name {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.s-menu {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.s-m-item {
  width: calc(100% - 40px);
  height: 24px;
  padding: 8px 20px 8px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.s-m-item:hover {
  background-color: #212121;
}

.i__icon {
  width: 24px;
  height: 24px;
  background-color: aliceblue;
  margin-right: 10px;
  background-color: transparent;
  filter: brightness(0) invert(1);
}

.i__content-menu {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

.home {
  background: url("/src/assets/img/list-icon.svg") no-repeat -36px -132px;
}

.my-job {
  background: url("/src/assets/img/list-icon.svg") no-repeat -516px -132px;
}

.report {
  background: url("/src/assets/img/list-icon.svg") no-repeat -644px -36px;
}

.s-option {
  width: calc(100% - 40px);
  height: 30px;
  padding: 8px 20px 8px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.s-o__filter {
  outline: unset;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  width: calc(100% - 77px);
  height: calc(100% - 4px);
  background-color: transparent;
  color: #ffff;
  font-size: 14px;
  font-weight: 500;
  padding-left: 27px;
  padding-right: 10px;
  background: url("/src/assets/img/search.svg") no-repeat -3px 5px;
}

.s-o__filter::placeholder {
  font-size: 14px;
  font-weight: 600;
}

.s-o__filter:hover {
  border-bottom-color: #50b83c;
}

.s-o__setting {
  width: 24px;
  height: 24px;
  background-color: rebeccapurple;
  background: url("/src/assets/img/list-icon.svg") no-repeat -644px -324px;
  background-color: transparent;
  filter: brightness(0) invert(1);
  cursor: pointer;
}

.s-l-item {
  width: calc(100% - 40px);
  height: auto;
  min-height: 30px;
  padding: 8px 20px 8px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.s-l-item:hover {
  background-color: #212121;
}

.l-i__icon {
  width: 20px;
  height: 20px;
}

.s-l-i-left {
  display: flex;
  align-items: center;
}

.s-l-i-right {
  display: flex;
}

.l-i__icon + .l-i__icon {
  margin-left: 8px;
}

.l-i__content-list {
  width: calc(100% - 8px);
  margin-right: 8px;
}

.list-content {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

.icon-extend {
  background-image: url(/src//assets/img/list-icon.svg);
  background-repeat: no-repeat;
  background-position: -230px -102px;
  background-color: transparent;
  filter: brightness(0) invert(1);
  margin-right: 10px;
}

.icon-collapse {
  background-image: url(/src//assets/img/list-icon.svg);
  background-repeat: no-repeat;
  background-position: -296px -104px;
  background-color: transparent;
  filter: brightness(0) invert(1);
  margin-right: 10px;
}

.add-project {
  background-image: url(/src//assets/img/list-icon.svg);
  background-repeat: no-repeat;
  background-position: -166px -102px;
  background-color: transparent;
  filter: brightness(0) invert(1);
}

.view-project {
  background-image: url(/src//assets/img/list-icon.svg);
  background-repeat: no-repeat;
  background-position: -326px -134px;
  background-color: transparent;
  filter: brightness(0) invert(1);
}

.s-list-item__project {
  width: calc(100% - 70px);
  height: auto;
  min-height: 24px;
  padding: 8px 20px 8px 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.s-list-item__project:hover {
  background-color: #212121;
}

.s-l__p-icon {
  width: 24px;
  height: 24px;
  background-color: #50b83c;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon-project {
  width: 13px;
  height: 13px;
  background-color: transparent;
  filter: brightness(0) invert(1);
}

.icon_my-job {
  background-image: url(/src//assets/img/list-icon-project.svg);
  background-repeat: no-repeat;
  background-position: -17px -49px;
}

.s-l__p-text {
  width: calc(100% - 24px);
}

.s-list {
  width: 100%;
  height: calc(100% - 222px);
}
